<div class="show-mobile">
  <div>
    <button id="toggleMenu" (click)="toggleMenu()">
      <img id="hamburger" src="../../../assets/images/hamburger.png" alt="menu">
    </button>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">
      Close
    </button>
    <ul>
      <li><a class="lista" href="#lista-adopcion">Mascotas</a></li>
        <li><a class="lista" href="#ultimas-adopciones">Ultimas Adopciones</a></li>
        <li><a class="lista" href="#contenedor-comentarios">Comentarios</a></li>
      <li><a class="lista" href="../contacto">Contacto</a></li>
      <li><a  class="lista" href="../login">Login</a></li>
    </ul>
  </div>
</div>
<div class="content" [ngClass]="{'content-scrolled': isScrolled}">
<div class="hide-mobile" id="cabecera-grande">
  <div>
    <nav id="nav-cabecera">
      <ul id="lista-cabecera">

        <li><a class="lista" href="../contacto">Contacto</a></li>
        <li><a class="lista" href="#lista-adopcion">Mascotas</a></li>
        <li><a class="lista" href="#ultimas-adopciones">Ultimas Adopciones </a></li>
        <li><a class="lista" href="#contenedor-comentarios">Comentarios</a></li>
        <li><a  class="lista" href="../login">Login</a></li>

      </ul>
    </nav>
  </div>
</div>
</div>

