

.add-mascota, .edit-mascota, .view-mascota{
  position: fixed;
  top: 120px;
  left: 60%;
  bottom: 0;
  right: 0;
  background: #F8FACB;
  border-radius: 20px;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}

app-mascota{
  width: 90%;
}

p{
  text-align: center;
  color: #fcb07a;
}


