<div class="contenedor-add-mascota">
  <h2>Agregar Mascota</h2>
  <form [formGroup]="formulario" >
    <div class="form-group">
      <label for="dni">DNI: </label>
      <input type="text" id="dni" formControlName="dni" placeholder="dni">
      <span class="error" *ngIf="formulario.controls['dni'].getError('required') && formulario.touched">El nombre es requerido</span>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
      <span class="error" *ngIf="formulario.controls['nombre'].getError('required') && formulario.touched">El nombre es requerido</span>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido: </label>
      <input type="text" id="apellido" formControlName="apellido" placeholder="apellido">
      <span class="error" *ngIf="formulario.controls['apellido'].getError('required') && formulario.touched">El apellido es requerido</span>
    </div>
    <div class="form-group">
      <label for="domicilio">Domicilio: </label>
      <input type="text" id="domicilio" formControlName="domicilio" placeholder="domicilio">
      <span class="error" *ngIf="formulario.controls['domicilio'].getError('required') && formulario.touched">El nombre es requerido</span>
    </div>
    <div class="form-group">
      <label for="telefono">Telefono: </label>
      <input type="text" id="telefono" formControlName="telefono" placeholder="telefono">
      <span class="error" *ngIf="formulario.controls['telefono'].getError('required') && formulario.touched">El apellido es requerido</span>
    </div>
    <div class="form-group">
      <label for="email">Mail: </label>
      <input type="text" id="email" formControlName="email" placeholder="email">
      <span class="error" *ngIf="formulario.controls['email'].getError('required') && formulario.touched">El apellido es requerido</span>
    </div>
    <button type="submit" (click)="addSolicitud()">Solicitar</button>
  </form>
