<div class="contenedor">
  <h2>Crear nuevo usuario</h2>
  <form [formGroup]= "formulario" >
    <div class="form-group">
      <label for="dni">DNI:       </label>
      <input type="text" id="dni" formControlName="dni" placeholder="DNI">
      <span class="error" *ngIf="formulario.controls['dni'].getError('required') && formulario.touched">El DNI es requerido</span>
      <span class="error" *ngIf="formulario.controls['dni'].getError('minlength') && formulario.touched">El DNI debe tener al menos 6 digitos</span>

    </div>
    <div class="form-group">
      <label for="nombre">Nombre:    </label>
      <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
      <span class="error" *ngIf="formulario.controls['nombre'].getError('required') && formulario.touched">El nombre es requerido</span>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:  </label>
      <input type="text" id="apellido" formControlName="apellido" placeholder="Apellido">
      <span class="error" *ngIf="formulario.controls['apellido'].getError('required') && formulario.touched">El apellido es requerido</span>
    </div>
    <div class="form-group">
      <label for="direccion">Domicilio: </label>
      <input type="text" id="direccion" formControlName="direccion" placeholder="Domicilio">
      <span class="error" *ngIf="formulario.controls['direccion'].getError('required') && formulario.touched">El domicilio es requerido</span>
    </div>
    <div class="form-group">
      <label for="telefono">Telefono:  </label>
      <input type="text" id="telefono" formControlName="telefono" placeholder="Telefono">
      <span class="error" *ngIf="formulario.controls['telefono'].getError('required') && formulario.touched">El telefono es requerido</span>
      <span class="error" *ngIf="formulario.controls['telefono'].getError('minlength') && formulario.touched">El telefono debe tener al menos 8 digitos</span>

    </div>
    <div class="form-group">
      <label for="email">Mail:        </label>
      <input type="text" id="email" formControlName="email" placeholder="Email">
      <span class="error" *ngIf="formulario.controls['email'].getError('required') && formulario.touched">El email es requerido</span>
      <span class="error" *ngIf="formulario.controls['email'].getError('pattern')&& formulario.touched">El formato de email no es valido</span>
    </div>
    <div class="form-group">
      <label for="contrasenia">Contraseña:</label>
      <input type="password" id="contrasenia" formControlName="contrasenia" placeholder="Nueva Contraseña">
      <span class="error" *ngIf="formulario.controls['contrasenia'].getError('required') && formulario.touched">El email es requerido</span>
    </div>
    <button id="crear" class="boton" type="submit" (click)="agregarUsuario()">Crear</button>
  </form>
