
#crear{
  margin-top: 10px;
  position: fixed;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 10px;
}

.form-group > * {
  flex: 1;
  margin-right: 10px;
}
