

<div class="conteiner-adoptantes">
  <app-listados-adoptantes
    [inputAdoptantes]="adoptantes"
    (adoptanteToEdit)="editAdoptante($event)"
    (adoptanteToDelete)="deleteAdoptante($event)"
    (adoptanteToView)="verAdoptante($event)"
  ></app-listados-adoptantes>
</div>



<div *ngIf="adoptanteSeleccionadoParaEdicion" class="menuDesplegable" [class.active]="mostrarPanelEditAdoptante">
  <div *ngIf="mostrarPanelEditAdoptante">
    <button (click)="verPanelEditAdoptante()" class="boton" id="cerrar">X</button>
    <app-edit-adoptantes
      [adoptante]="adoptanteSeleccionadoParaEdicion"
      (EmitEditAdoptante)="GuardarCambiosEdit()"
      (EmitMsj)="mostrarMsj($event)"
    ></app-edit-adoptantes>
  </div>
</div>

<div *ngIf="adoptanteSeleccionadoView" class="menuDesplegable" id="adoptante" [class.active]="mostrarPanelViewAdoptante">
  <div *ngIf="mostrarPanelViewAdoptante">
    <button (click)="verPanelViewAdoptante()" class="boton" id="cerrar">X</button>
    <app-adoptante
    [inputAdoptante]="adoptanteSeleccionadoView" [isAdmin]=true
    ></app-adoptante>
  </div>
</div>

<div class="alert" [class.active]="mostrarAlert">
  <app-alert [texto]="msj" (EmitAceptar)="aceptarAlert()"></app-alert>
</div>
