<div class="contenedor" *ngIf="!paraAdoptante">
  <table class="tabla" id="tablaListado">
    <thead>
    <tr>
    <th>Nro</th>
    <th>Fecha</th>
    <th>Mascota</th>
    <th>Tipo</th>
    <th>Adoptante</th>
    <th>DNI adoptante</th>
    <th>Estado</th>
    <th>Supervisó</th>
    <th>Fecha Adopcion</th>
    <th>Ver más</th>
    <th>Editar</th>
    <th>Eliminar</th>

    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of inputSolicitudes">
        <td>{{ solicitud.id }}</td>
        <td>{{ solicitud.fecha }}</td>
        <td>{{ getNombreMascota(solicitud.idMascota) }}</td>
        <td>{{ getTipoMascota(solicitud.idMascota) }}</td>
        <td>{{ getNombreAdoptante(solicitud.idAdoptante)}}</td>
        <td>{{ getDniAdoptante(solicitud.idAdoptante)}}</td>
        <td>{{ solicitud.estado }}</td>
        <td>{{ getNombreUsuario(solicitud.idAdmin) }}</td>
        <td>{{ solicitud.fechaAdopcion }}</td>
        <td><button class="mas-button" (click)="mostrarDetalleSolicitud(solicitud)">📋</button></td>
        <td><button class="edit-button" (click)="editSolicitud(solicitud)">✍🏻</button></td>
        <td><button class="delete-button" (click)="mostrarMsjDelete(solicitud)">❌</button></td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="6">Total solicitudes:</td>
        <td id="totalFilas"> {{contarFilas()}} </td>
        <td colspan="6"></td>
      </tr>
    </tfoot>

    </table>
</div>

<div class="msj-delete" *ngIf="msjDelet">
  <p>Confirma que desea eliminar la solicitud nro {{ solicitudAEliminar.id }}</p>
  <div class="botones">
    <button class="boton" (click)="deleteSolicitud(solicitudAEliminar)">Aceptar</button>
    <button class="boton" (click)="cancelarDelete()">Cancelar</button>
  </div>
</div>

<div class="contenedor" *ngIf="paraAdoptante">
  <table class="tabla">
    <thead>
    <tr>
    <th>Fecha</th>
    <th>Mascota</th>
    <th>Estado</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of inputSolicitudes">
        <td>{{ solicitud.fecha }}</td>
        <td>{{ solicitud.idMascota }} {{ getNombreMascota(solicitud.idMascota) }}</td>
        <td>{{ solicitud.estado }}</td>
      </tr>
    </tbody>
    </table>
</div>
