<div class="contenedor" *ngIf="!paraAdoptante">
  <table class="tabla">
    <thead>
    <tr>
    <th>id</th>
    <th>Fecha</th>
    <th>idMascota</th>
    <th>Mascota</th>
    <th>idAdoptante</th>
    <th>Estado</th>
    <th>F. Adop</th>
    <th>Ver más</th>
    <th>Editar</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of inputSolicitudes">
        <td>{{ solicitud.id }}</td>
        <td>{{ solicitud.fecha }}</td>
        <td>{{ solicitud.idAnimal }}</td>
        <td>{{ getNombreMascota(solicitud.idAnimal) }}</td>
        <td>{{ solicitud.idAdoptante }}</td>
        <td>{{ solicitud.estado }}</td>
        <td>{{ solicitud.fechaAdopcion }}</td>
        <td><button class="mas-button" (click)="mostrarDetalleSolicitud(solicitud)">📋</button></td>
        <td><button class="edit-button" (click)="editSolicitud(solicitud)">✍🏻</button></td>
      </tr>
    </tbody>
    </table>
</div>

<div class="contenedor" *ngIf="paraAdoptante">
  <table class="tabla">
    <thead>
    <tr>
    <th>id</th>
    <th>Fecha</th>
    <th>Mascota</th>
    <th>Estado</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of inputSolicitudes">
        <td>{{ solicitud.id }}</td>
        <td>{{ solicitud.fecha }}</td>
        <td>{{ solicitud.idAnimal }} {{ getNombreMascota(solicitud.idAnimal) }}</td>
        <td>{{ solicitud.estado }}</td>
      </tr>
    </tbody>
    </table>
</div>
