
<div class="fondo">
  <div class="container">
      <div class="rectangulo">
        <div class="loginMsg">
          <div class="textcontent">
            <p class="title">No tenes una cuenta?</p>
            <p>Unite para ver las mascotas en adopcion!</p>
            <button class="botonR">Registrarse</button>
          </div>
        </div>
      </div>
      <div class="cuadradoLog">

      <fieldset>
        <h2>Iniciar Sesion</h2>
        <form [formGroup]= "formulario">
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" id="email" formControlName="email">
            <span class="error" *ngIf="formulario.controls['email'].getError('required') && formulario.touched">El email es obligatorio</span>
          </div>
          <div class="form-group">
            <label for="contrasenia">Contraseña: </label>
            <input type="password" id="contrasenia" formControlName="contrasenia">
            <span class="error" *ngIf="formulario.controls['contrasenia'].getError('required') && formulario.touched">La contraseña es obligatoria</span>
            <span class="error" *ngIf="formulario.controls['contrasenia'].getError('minlength')">Debe tener al menos 6 caracteres</span>
          </div>
          <div class="campo">
            <input class="boton" type="submit" value="Enviar" (click)="iniciarSesion()">
          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>
