.fondo-degrade{
 height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.inicio{
  align-items: center;
  margin-right: 10%;
}

img{
  margin-left: 30%;
  width: 40%;
  height: 40%;
  margin-top:10%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}


.container{
  align-items: center;
  background: rgb(255,224,81);
background: linear-gradient(0deg, rgba(255,224,81,0.7148984593837535) 25%, rgba(250,162,48,0.751313025210084) 100%);
  width: 70%;
  height: 60%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}
.rectangulo{
  padding: 5%;
  text-align: left;
}


.cuadradoLog{
  background-color: rgba(255, 255, 255, 0.918);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  height: 115%;
  width: 100%;
  z-index: 10;
  right:0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right .8s ease-in-out;
  text-align: center;
}

.title{
  margin-top: 0;
  text-align: center;
  line-height: 35px;
font-weight: bold;
font-size: 30px;
color: #fff;
text-shadow:1px 1px 10px rgba(255, 255, 255, 0.594);
}

.textcontent{
  display: flex;
  flex-direction: column;
  padding: 0%;
  width: 90%;
}

p{
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.5px;
  width: auto;
  text-shadow: 3px 3px 10px rgb(255, 255, 255);
}

#R{
  padding: 5px;
  margin-left: 35%;

}

#R:hover{
  background-color: rgba(233,148,151,1);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
}


h2{
  text-align: center;
font-family: Arial Black;
font-weight: bold;
margin-top: 15%;
font-size: 35px;
color: #fff;
text-shadow: 5px 3px 10px rgba(248, 144, 24, 0.744);
}

.form-group{
  margin-bottom: 20px;
  position: relative;
  color: rgb(247, 139, 62);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
  text-align: center;
}
label{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: #fcb07a;
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
}

input{
  border:rgb(249, 199, 138);
  border-bottom: 1px solid rgb(247, 167, 109);
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  color: rgb(247, 139, 62);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
  transition: all .3s ease;
  height: 40px;
}

.boton{
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(252, 176, 122);
  cursor: pointer;
  font-weight: 100;
  padding: 8px;
  width: 100px;
  transition: all .3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.boton:hover{
  background-color: rgb(226, 233, 148);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
}

.error{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding:2%;
  margin-left:20%;
  text-align: center;
  background-color: rgba(247, 124, 124, 0.489);
  color: rgba(255, 0, 0, 0.824);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 0, 0, 0.865);
  font-size: 14px;
}


@media only screen and (min-width: 320px) and (max-width:768px) {

  .fondo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 10%;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30%;
  }

  .botonR{
    margin-left: 30%;
  }
  .title{
    font-size: 20px;
    line-height: 20px;
  }
  .cuadradoLog{
    width: 100%;
    height: 100%;
    margin-top: 30%;
    padding: 5%;
  }
  h2{
    font-size: 30px;
  }

}
