<div class="botones">
  <button class="boton" (click)="verPanelAgregar()">Agregar Usuario</button>
</div>


<div class="conteiner-usuarios">
  <app-listados-usuarios
    [inputUsuarios]="usuarios"
    (usuarioAeditar)="editarUsuario($event)"
    (usuarioAborrar)="borrarUsuario($event)"
  ></app-listados-usuarios>
</div>

<div class="alert" [class.active]="mostrarAlert">
  <app-alert [texto]="msj" (EmitAceptar)="aceptarAlert()"></app-alert>
</div>

<div class="menuDesplegable" [class.active]="mostrarPanelAgregarUsuario">
  <div *ngIf="mostrarPanelAgregarUsuario">
    <button (click)="verPanelAgregar()" class="boton" id="cerrar">X</button>
    <app-agregar-usuarios
      (EmitAgregarUsuario)="onAgregarUsuario($event)"
      (EmitMsj)="mostrarMsj($event)"
    ></app-agregar-usuarios>
  </div>
</div>

<div *ngIf="usuarioAeditar" class="menuDesplegable" [class.active]="mostrarPanelEditarUsuario">
  <div *ngIf="mostrarPanelEditarUsuario">
    <button (click)="verPanelEditarUsuario()" class="boton"  id="cerrar">X</button>
    <app-editar-usuarios
      [usuario]="usuarioAeditar"
      (EmitEditUsuario)="verPanelEditarUsuario()"
      (EmitMsj)="mostrarMsj($event)"
  ></app-editar-usuarios>
  </div>
</div>

