<div class="botones">
  <button class="boton" (click)="verPanelAddMascota()">Agregar Mascota</button>
  <button class="boton" (click)="verPerros()">Perros</button>
  <button class="boton" (click)="verGatos()">Gatos</button>
  <button class="boton" (click)="verAdopcion()">En Adopción</button>
  <button class="boton" (click)="quitarFiltros()">Quitar Filtros</button>
</div>

<div class="conteiner-mascotas">
  <app-listados-mascotas
    [inputMascotas]="listaFiltradaMascotas"
    (mascotaToEdit)="editMascota($event)"
    (mascotaToDelete)="deleteMascota($event)"
    (mascotaToView)="verMascota($event)"
  ></app-listados-mascotas>
</div>

<div class="menuDesplegable" [class.active]="mostrarPanelAddMascota">
  <div *ngIf="mostrarPanelAddMascota">
    <button (click)="verPanelAddMascota()" class="boton" id="cerrar">X</button>
    <app-add-mascota (EmitAddMascota)="onAgregarMascota($event)"></app-add-mascota>
  </div>
</div>

<div *ngIf="mascotaSeleccionadaParaEdicion" class="menuDesplegable" [class.active]="mostrarPanelEditMascota">
  <div *ngIf="mostrarPanelEditMascota">
    <button (click)="verPanelEditMascota()" class="boton" id="cerrar">X</button>
    <app-edit-mascota [mascota]="mascotaSeleccionadaParaEdicion"></app-edit-mascota>
    <p>Guarde los cambios y luego pulse cerrar</p>
  </div>
</div>

<div *ngIf="mascotaSeleccionadaView" class="menuDesplegable" [class.active]="mostrarPanelViewMascota">
  <div *ngIf="mostrarPanelViewMascota">
    <button (click)="verPanelViewMascota()" class="boton" id="cerrar">X</button>
    <app-mascota [inputMascota]="mascotaSeleccionadaView" [isAdmin]=true></app-mascota>
  </div>
</div>

