<footer>
  <h2>No dudes en contactarte con nosotros</h2>
  <div class="container">

    <div class="tarjeta" id="emergencia">
      <img src="../../../assets/images/abuse.png" alt="alerta emergencia">
      <div class="info-tarjeta">
        <p>Urgencias</p>
        <p>(223)4791111</p>
      </div>
    </div>

    <div class="tarjeta" id="contacto">
      <img src="../../../assets/images/whatsapp.png" alt="whatsapp">
      <div class="info-tarjeta">
        <p>Contacto</p>
        <a type="whatsapp" href="https://wa.me/+5492291457449">(2291)457449</a>
      </div>
    </div>
  </div>
  <div id="derechos">
    <p>© Todos los derechos reservados PetAdopt</p>
  </div>
</footer>
