.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
  padding: 2%;
}

body{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0%;
  background: #fbffa5;
  background: linear-gradient(0deg, rgba(251,255,165,1) 35%, #ffe051 100%);
}

.imagen{
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  align-items: center;
}

.image2{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}


h2{
  margin-top: 5%;
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2);
}

h3{
  color: rgb(255, 153, 0);
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
  width: 70%;
  text-shadow: 0px 0px 19px rgba(250, 131, 131, 0.719);
}

p{
  text-align: center;
  color:  #fb9a54;
  font-size: 1rem;
  text-shadow: 4px 4px 36px hsl(28, 90%, 59%);
  width: 60%;
  line-height: 25px;
}


@media only screen and (min-width: 320px) and (max-width:768px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2{
    margin-top: 10%;
    font-size: 25px;
  }
  h3{
    font-size: 15px;
    width: 80%;
    color:rgb(255, 136, 0);
  }
  p{
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    width: 90%;
    color:rgb(245, 185, 95);
    text-shadow: 0px 0px 9px rgba(250, 131, 131, 0.553);
  }

  .imagen{
    margin-top: 10%;
  }
  .image2{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

}




