<body>
  <div class="container">
    <div>
     <h2>Ultimas adopciones</h2>
     </div>
  <div class="imagen">
    <img  class="image2" src="../../../assets/images/adopcion1.png" alt="">
    <h3>Pelusita se fue con Camila Galvan </h3>
    <p>Camila adopto a Pelusita hace ya un año! Todos los meses nos envia fotos con ella, nos cuenta que su momento favorito del dia es por la tarde cuando salen de pase juntas</p>
  </div>
  <div class="imagen">
    <img  class="image2" src="../../../assets/images/adopcion2.png" alt="">
    <h3>Pepe se fue con Laura y Esteban</h3>
    <p>Él estaba muy asustado cuando llegó, ya tenia 2 añitos en la calle. Se recuperó y encontró un hogar con Laura y Esteban que lo incluyeron en su familia </p>
  </div>
</div>
</body>
