<body>
  <div class="container">
    <div>
     <h2>Ultimas adopciones</h2>
     </div>
  <div class="imagen">
    <img  class="image2" src="{{adopciones[0].foto}}" alt="">
    <h3> {{ getNombreMascota(adopciones[0].idAnimal) }} se fue con Camila </h3>
    <p>{{adopciones[0].comentarios}}</p>
  </div>
  <div class="imagen">
    <img  class="image2" src="{{adopciones[1].foto}}" alt="">
    <h3> {{ getNombreMascota(adopciones[1].idAnimal) }} se fue con Laura y Esteban</h3>
    <p>{{adopciones[1].comentarios}} </p>
  </div>
</div>
</body>
