

.solicitarMascota {
  height: 100%;
  position: fixed;
  top: 10px;
  left: 60%;
  bottom: 0;
  right: 0;
  background: rgb(252,220,122);
background: radial-gradient(circle, rgba(252,220,122,1) 0%, rgba(252,191,122,1) 100%);
  border-radius: 20px;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}


.cerrar, .botonSolicitar{
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(252, 176, 122);
  cursor: pointer;
  font-weight: 100;
  padding: 8px;
}


h2{
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 20px;
  color: #f77c7c7d;
  text-shadow: 5px 3px 10px rgba(248, 144, 24, 0.744);
}

p{
  color: #4c3625;
}

.boton{
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fcb07a;
  cursor: pointer;
  font-weight: 100;
  padding: 8px;
  width: 100px;
  transition: all .3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
h2{
  color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: 10px;
    text-shadow: 0 1px 0 #ccc, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1);
}

p{
  color: #fff;
  text-align: left;
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  margin-top: 10px;
  text-shadow: 3px 3px 12px rgba(250, 131, 131, 0.719);
}

.tarjeta-mascota{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.8em;
  margin: 0.4em;
  height: 90%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.329);
  margin-top: 30px;
  margin-bottom: 30px;
}

.foto{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.cerrar:hover, .botonSolicitar:hover, .boton:hover{
  background-color: rgb(226, 233, 148);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
}

.cerrar{
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
}


.tarjeta-mascota-admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em;
  margin: 0.4em;
}

#img-admin{
  width: 60%;
}

.botonSolicitar{
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  margin-left: 5%;
}
