<div class="tarjeta-mascota">
  <app-imagen class="foto" [archivo]="inputMascota.foto"></app-imagen>
  <h2>{{inputMascota.nombre}}</h2>
  <p>F. Nac: {{inputMascota.nacimiento}}</p>
  <p>Sexo: {{inputMascota.sexo}} </p>
  <p>Tamaño: {{inputMascota.tamanio}}</p>
  <p>{{inputMascota.caracteristicas}}</p>
<button class="botonSolicitar" (click)="solicitarMascota()">Quiero adoptar!</button>
    <div class="solicitarMascota" [class.active]="mostrarPanelSolicitar">
      <div *ngIf="mostrarPanelSolicitar">
        <button class="cerrar" (click)="solicitarMascota()">X</button>
        <app-solicitar-adopcion></app-solicitar-adopcion>
        <app-solicitar-adopcion (EmitAddSolicitud)="addSolicitud()"></app-solicitar-adopcion>
      </div>
    </div>
</div>

