.contenedor {
  margin: 0 auto;
  width: 80%;
}

.tabla {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

thead th {
  background-color: #E99497;
  color: #fff;
  text-align: left;
  padding: 1rem;
}

tbody td {
  border: 1px solid #B3E283;
  padding: 1rem;
}

tbody tr:nth-child(even) {
  background-color: #f0f0e9;
}

a{
  text-decoration: none;
  color: black;
}

button{
  border: none;
  background-color: transparent;
}
