<div class="contenedor">
  <table class="tabla">
    <thead>
    <tr>
    <th>id</th>
    <th>Fecha</th>
    <th>idMascota</th>
    <th>idAdoptante</th>
    <th>Estado</th>
    <th>F. Adop</th>
    <th>Ver más</th>
    <th>Editar</th>
    <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of inputSolicitudes">
        <td>{{ solicitud.id }}</td>
        <td>{{ solicitud.fecha }}</td>
        <td>{{ solicitud.idAnimal }}</td>
        <td>{{ solicitud.idAdoptante }}</td>
        <td>{{ solicitud.estado }}</td>
        <td>{{ solicitud.fechaAdopcion }}</td>
        <td><button class="mas-button">📋</button></td>
        <td><button class="edit-button">✍🏻</button></td>
        <td><button class="delete-button">❌</button></td>
      </tr>
    </tbody>
    </table>

</div>
