<div id="nav-cabecera">
  <h2>Panel Administración PetAdop de {{usuarioLogin.nombre}}</h2>
  <nav>
    <div id="user">
      <img src="../../../../assets/images/hueso-removebg-preview.png" alt="">
    </div>
    <p><a (click)="onLogOut()" class="logout">LogOut</a></p>
    <button (click)="gestionMascotas()">Mascotas</button>
    <button (click)="gestionSolicitudes()">Solicitudes</button>
    <button (click)="gestionComentarios()">Comentarios</button>
    <button (click)="gestionUsuarios()">Usuarios</button>
    <button (click)="gestionAdoptantes()">Adoptantes</button>
  </nav>

</div>
