.grilla-mascotas{
  display: flex;
  flex-direction: column;
  background: rgb(255,224,81);
background: linear-gradient(0deg, rgba(255,224,81,1) 25%, rgba(230,129,132,1) 100%);
 border-radius: 5px;
 margin-bottom: 1px;
}


@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .grilla-mascotas{
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-gap: 10px;
  }
}

@media screen and (min-width: 64em) {
  .grilla-mascotas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 10px;
  }
}

