
.botones{
  padding-top: 2em;
  background-color: #e68184;
}

.grilla-mascotas{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(255,224,81,1) 25%, #e68184 100%);
  margin-bottom: 1px;
}

#lista-adopcion{
border: white 1px solid;
}

#filtrosMascotas{
  border-radius: 10px;
}


@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .grilla-mascotas{
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-gap: 5px;
  }
}

@media screen and (min-width: 64em) {
  .grilla-mascotas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 5px;
  }
}

