<div id="ultimas-adopciones">
  <div>
    <h2>Ultimas adopciones</h2>
  </div>
  <div class="container">
  <div class="imagen">
    <img  class="image2" src="{{adopciones[1].foto}}" alt="">
    <h3> {{ getNombreMascota(adopciones[1].idAnimal) }} se fue con  {{ getNombreAdoptante(adopciones[1].idAdoptante!) }}</h3>
    <p>{{adopciones[1].comentarios}} </p>
  </div>
  <div class="imagen">
    <img  class="image2" src="{{adopciones[0].foto}}" alt="">
    <h3> {{ getNombreMascota(adopciones[0].idAnimal) }} se fue con {{ getNombreAdoptante(adopciones[0].idAdoptante!) }} </h3>
    <p>{{adopciones[0].comentarios}}</p>
  </div>
  <div class="imagen">
    <img  class="image2" src="{{adopciones[2].foto}}" alt="">
    <h3> {{ getNombreMascota(adopciones[2].idAnimal) }} se fue con  {{ getNombreAdoptante(adopciones[2].idAdoptante!) }}</h3>
    <p>{{adopciones[1].comentarios}} </p>
  </div>
</div>
</div>
