.grilla-comentarios{
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  margin: 15px;
  height: 100%;
}


@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .grilla-comentarios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (min-width: 64em) {
  .grilla-comentarios{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
}

