
header{
  display: flexbox;
  align-items: center;background: rgb(233,148,151);
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, rgba(230,129,132,1) 50%, rgba(164,74,149,1) 100%);  height: 10%;
}

.container{
  display: flex;
  flex-direction: row;
  padding: auto;
}

.descripcion{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: left;
  inline-size: 1000px;
}

.imagen{
  float: right;
  margin-top: 10%;

}

.image1{
  width: 25%;
  height: 8%;

}
.image2{
  width: 80%;
  height: 80%;

}

h2{
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

p{
  text-align: left;
font-family: Arial;
font-size: 30px;
COLOR: #FBFFA5;
text-shadow: 0px 0px 9px #FBFFA5;
}


@media only screen and (min-width: 320px) and (max-width:768px) {
  .header,.imagen, .image2 {
    justify-content: center;
  }


}


