<div class="botones">
   <button class="boton" (click)="verPendientes()" >Pendientes</button>
  <button class="boton"(click)="verAprobadas()" >Aprobadas</button>
  <button class="boton"(click)="verRechazadas()" >Rechazadas</button>
  <button class="boton" (click)="quitarFiltros()">Quitar Filtros</button>
</div>

<div class="contenedor-solicitudes">
  <app-listado-solicitudes
    [inputSolicitudes]="listaFiltradaSolicitudes"
    [inputMascotas]="listaMascotas"
    [inputAdoptantes]="listaAdoptantes"
    [paraAdoptante]=false
    (solicitudToView)="verSolicitud($event)"
    (solicitudToEdit)="editSolicitud($event)"
    (solicitudToDelete)="deleteSolicitud($event)"
  ></app-listado-solicitudes>
</div>

<div class="detalle-solicitud" [class.active]="mostrarPanelViewSolicitud">
  <div *ngIf="mostrarPanelViewSolicitud">
    <button (click)="verDetalleSolicitud()" class="boton" id="cerrar">X</button>
    <div class="contenido-detalle-Solicitud">
      <div id="solicitud-en-Detalle">
        <h2>Solicitud n° {{solicitudSeleccionada.id}}</h2>
        <p>Fecha: {{solicitudSeleccionada.fecha}}, Estado: {{solicitudSeleccionada.estado}}</p>
        <p *ngIf="solicitudSeleccionada.comentarios != ''"
            >Comentarios: {{solicitudSeleccionada.comentarios}}</p>
        <app-imagen [archivo]="solicitudSeleccionada.foto"></app-imagen>
        <p *ngIf="solicitudSeleccionada.fechaAdopcion != null">Adopcion: {{solicitudSeleccionada.fechaAdopcion}}</p>
       </div>
       <div id="mascota-en-Solicitud">
         <app-mascota [inputMascota]="mascotaEnSolicitud" [isAdmin]=true></app-mascota>
       </div>
       <div id="adoptante-en-Solicitud">
         <h2>Adoptante: {{adoptanteEnSolicitud.nombre}} {{adoptanteEnSolicitud.apellido}}</h2>
         <p>Telefono: {{adoptanteEnSolicitud.telefono}}</p>
         <p>Email: {{adoptanteEnSolicitud.email}}</p>
         <div class="conteiner-mascotas">
          <app-listado-solicitudes id="tabla-para-adoptante"
            [inputSolicitudes]="listaFiltradaSolicitudes"
            [inputMascotas]="listaMascotas"
            [paraAdoptante]=true
          ></app-listado-solicitudes>
        </div>
       </div>
    </div>

  </div>
</div>

<div class="alert" [class.active]="mostrarAlert">
  <app-alert [texto]="msj" (EmitAceptar)="aceptarAlert()"></app-alert>
</div>

<div *ngIf="solicitudSeleccionada" class="menuDesplegable" [class.active]="mostrarPanelEditSolicitud">
  <div *ngIf="mostrarPanelEditSolicitud">
    <button (click)="verPanelEditSolicitud()" class="boton" id="cerrar">X</button>
    <app-edit-solicitud
      [solicitud]="solicitudSeleccionada"
      (EmitEditSolicitud)="verPanelEditSolicitud()"
      (EmitMsj)="mostrarMsj($event)"
      ></app-edit-solicitud>
  </div>
</div>



