<div class="contenedor">
  <table class="tabla"  id="tablaListado">
    <thead>
    <tr>
    <th>Fecha</th>
    <th>Puntaje</th>
    <th>Comentario</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comentario of inputComentarios">
        <td>{{ comentario.fecha }}</td>
        <td>{{ comentario.puntaje }}</td>
        <td>{{ comentario.comentario}}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="1">Total Comentarios:</td>
        <td id="totalFilas"> {{contarFilas()}} </td>
        <td colspan="1"></td>
      </tr>
    </tfoot>
    </table>

</div>
