<div class="botones">
  <button class="boton" (click)="verPanelAgregar()">Agregar Usuario</button>
</div>


<div class="conteiner-usuarios">
  <app-listados-usuarios
    [inputUsuarios]="usuarios"
    (usuarioAeditar)="editarUsuario($event)"
    (usuarioAborrar)="borrarUsuario($event)"
  ></app-listados-usuarios>
</div>

<div class="addUsuario" [class.active]="mostrarPanelAgregarUsuario">
  <div *ngIf="mostrarPanelAgregarUsuario">
    <button (click)="verPanelAgregar()" class="boton">Cerrar</button>
    <app-agregar-usuarios (EmitAgregarUsuario)="onAgregarUsuario($event)"></app-agregar-usuarios>
  </div>
</div>

<div *ngIf="usuarioAeditar" class="edit-usuario" [class.active]="mostrarPanelEditarUsuario">
  <div *ngIf="mostrarPanelEditarUsuario">
    <button (click)="verPanelEditarUsuario()" class="boton">Cerrar</button>
    <app-editar-usuarios [usuario]="usuarioAeditar"></app-editar-usuarios>
    <p>Guarde los cambios y luego pulse cerrar</p>
  </div>
</div>

