.grilla-mascotas{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .grilla-mascotas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 64em) {
  .grilla-mascotas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}


