
.fondo-degrade{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, #e68184 50%, #a44a95 100%);  height: 10%;
  border-radius: 5px;
}

h2{
  margin-top: 5%;
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2);
}

h3{
  color: rgb(249, 142, 60);
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  text-shadow: 0px 0px 19px rgba(250, 131, 131, 0.719);
}

p{
  text-align: center;
  color:  #fb9a54;
  font-size: 1rem;
  text-shadow: 4px 4px 36px hsl(0, 0%, 100%);
  width: 90%;
  line-height: 1rem;
}


.atencion{
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border:1px solid white;
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, #e68184 50%, #a44a95 100%);  height: 10%;
}

.atencion p {
  width: 100%;
  font-size: 20px;
  color: antiquewhite;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.boton, .cerrar{
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fcb07a;
  cursor: pointer;
  font-weight: 100;
  padding: 8px;
  width: 2empx;
  transition: all .3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.boton:hover{
  background-color: rgb(226, 233, 148);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
}

#cerrar{
  width: 40px;
  height: 40px;
  border-radius: 25px;

 }

 #cerrar:hover{
  background-color: #E99497;
  color: white;
 }

.contenedor {
  margin: 0 auto;
  width: 80%;
}

.tabla {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  font-family: Helvetica;
  align-items: center;
}

thead th {
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, #e68184 50%);
  height: 10%;
  opacity: 0.8;
  font-weight: lighter;
  text-shadow: 0px 0px 2px #faffa5ae;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
}

tbody td {
  border: 1px solid #B3E283;
  padding: 1rem;
}

tbody tr:nth-child(even) {
  background-color: #f0f0e9;
}

tfoot td {
  border: 1px solid #B3E283;
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, #e68184 50%);
  height: 5%;
  opacity: 0.8;

  font-weight: lighter;
  text-shadow: 0px 0px 2px #FBFFA5;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
}



a{
  text-decoration: none;
  color: rgb(233, 122, 32);
}

button{
  border: none;
  background-color: transparent;
}


.menuDesplegable{
  position: fixed;
  margin-bottom: 10px;
  margin-top: 10px;
  left: 0%;
  bottom: 0;
  right: 0;
  background: #F8FACB;
  border-radius: 20px;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}

.alert{
  position: fixed;
  top: -100%;
  left: 0%;
  bottom: 120%;
  right: 0%;
  background: #F8FACB;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(2, 2, 2, 0.9);
  &.active {
    top: 40%;
    bottom: 40%;
  }
}

.side-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, rgba(230,129,132,1) 50%, rgba(164,74,149,1) 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out 0.3s;
  &.active {
    transform: translateX(0);
  }
}

.show-mobile::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, rgba(230,129,132,1) 50%, rgba(164,74,149,1) 100%);
  box-shadow: 0px 2px 5px rgba(97, 97, 97, 0.9);
  border-radius: 5px;
}

.hide-mobile {
  display: none;
  box-shadow: 0px 2px 5px rgb(black, .2);
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, rgba(230,129,132,1) 50%, rgba(164,74,149,1) 100%);
  border: 2px solid rgb(250, 233, 250);
  border-radius: 10px;
  z-index: 1000;
}

.hide-mobile div {

  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  z-index: 1000;
}

#nav-cabecera {
  display: flex;
  align-items: center;
  z-index: 1000;
}

#lista-cabecera {
  display: flex;
  flex-direction: row;
}

ul {
 list-style: none;
}


.lista{
  text-shadow: 0px 0px 2px #FBFFA5;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
}

.hide-mobile::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(44, 44, 44, 0.3);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(97, 97, 97, 0.9);
}

.titulo-form{
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 20px;
  color: #f77c7c7d;
  text-shadow: 5px 3px 10px rgba(248, 144, 24, 0.744);
}


.error{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding:2%;
  margin-left:15%;
  text-align: center;
  color: red;
  font-size: 12px;
}


.form-group{
  margin-bottom: 6px;
  position: relative;
  color: rgb(247, 139, 62);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
  text-align: center;
}

label{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: rgb(252, 176, 122);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
}

input, select{
  border:rgb(249, 199, 138);
  border-bottom: 1px solid rgb(247, 167, 109);
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  color: rgb(247, 139, 62);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
  transition: all .3s ease;
  height: 25px;
}

td {
  text-align: center;
}


.msj-delete{
  position: fixed;
  top: 40%;
  left: 30%;
  bottom: 40%;
  right: 30%;
  background: #F8FACB;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(2, 2, 2, 0.9);

}

.msj-delete p {
  width: 100%;
}

.msj-delete .botones{
  padding-left: 30%;
  padding-right: 30%;
}

@media screen and (min-width: 45em) and (max-width: 63.9em) {
  .menuDesplegable{
    left: 40%;
  }

  .alert{
    left: 15%;
    right: 15%;
  }
}

@media screen and (min-width: 64em) {

  .menuDesplegable{
    left: 60%;
  }

  .alert{
    left: 30%;
    right: 30%;
  }

  .titulo-form{
    font-size: 24px;
  }
}

