<app-nav-admin (opcionSeleccionada)="actualizarOpcion($event)"></app-nav-admin>
<div id="contenido-dinamico">

  <div *ngIf="opcionSeleccionada === 'mascotas'">
    <div class="conteiner-mascotas">
      <app-listados-mascotas [inputMascotas]="listaCompletaMascotas"></app-listados-mascotas>
    </div>
    <button class="boton" (click)="verPanelAddMascota()">Agregar Mascota</button>
    <div class="add-mascota" [class.active]="mostrarPanelAddMascota">
      <div *ngIf="mostrarPanelAddMascota">
        <button (click)="verPanelAddMascota()">Cerrar</button>
        <app-add-mascota></app-add-mascota>
      </div>
    </div>
  </div>
  <div *ngIf="opcionSeleccionada === 'bienvenida'">
    <h2>Bienvenido a su panel de administracion!</h2>
  </div>
</div>

