<app-nav-admin (opcionSeleccionada)="actualizarOpcion($event)"></app-nav-admin>
<div id="contenido-dinamico">

  <div *ngIf="opcionSeleccionada === 'mascotas'">
    <app-gestion-mascotas></app-gestion-mascotas>
  </div>
  <div *ngIf="opcionSeleccionada === 'solicitudes'">
    <app-gestion-solicitudes></app-gestion-solicitudes>
  </div>
  <div *ngIf="opcionSeleccionada === 'comentarios'">
    <app-gestion-comentarios></app-gestion-comentarios>
  </div>
  <div *ngIf="opcionSeleccionada === 'usuarios'">
    <app-gestion-usuarios></app-gestion-usuarios>
  </div>
  <div *ngIf="opcionSeleccionada === 'adoptantes'">
    <app-gestion-adoptantes></app-gestion-adoptantes>
  </div>
  <div id="bienvenida" *ngIf="opcionSeleccionada === 'bienvenida'">
    <h2>Bienvenid@</h2>
    <p>¡Excelente trabajo!</p>

  </div>
</div>

