
<div class="fondo">
  <div class="container">
      <div class="rectangulo">
          <div class="textcontent">
            <p class="title">¿Confundido?</p>
            <p>Regresa a la pagina anterior si entraste por erro</p>
            <button class="botonR">Home</button>
          </div>
      </div>
      <div class="cuadradoLog">

        <h2>Contactanos!</h2>
        <form  action="https://formsubmit.co/dafneluceroaltamirano@gmail.com" method="POST">
          <div class="form-group">
            <label for="nombre">Nombre: </label>
            <input type="name" id="nombre" name="nombre">  </div>
          <div class="form-group">
            <label for="email">Email de contacto: </label>
            <input type="text" id="email" name="email">    </div>
          <div class="form-group">
            <label for="telefono">Telefono: </label>
            <input type="number" id="telefono" name="telefono"> </div>
          <div class="form-group">
            <label for="consulta">Consulta: </label>
            <input type="string" id="consulta" name="consulta">      </div>
          <div class="campo">
            <input class="boton" type="submit" value="Enviar">
          </div>
        </form>
      </div>

  </div>
</div>
