.fondo{
  background: linear-gradient(90deg, rgba(233,148,151,1) 0%, rgba(230,129,132,1) 50%, rgba(164,74,149,1) 100%);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.container{
  align-items: center;
  text-align: center;
  background: rgba(157, 31, 185, 0.315);
  width: 70%;
  height: 60%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}
.textcontent{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0%;
  justify-content: center;
}

img{
  margin-left: 20%;
  width: 60%;
  height: 60%;
  margin-top:3%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.rectangulo{
  padding: 5%;
  text-align: center;
}


.cuadradoLog{
  background-color: rgba(255, 255, 255, 0.918);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  height: 140%;
  width: 80%;
  margin-top:5%;
  text-align: center;
  margin-right: 3%;
}

.title{
  text-align: center;
  line-height: 20px;
font-weight: bold;
font-size: 30px;
color: #fff;
text-shadow:1px 1px 10px rgba(255, 255, 255, 0.3);

}

p{
  margin-left: 10%;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgb(249, 199, 138);
  text-shadow: 3px 3px 10px rgba(2, 2, 2, 0.3);
  width: auto;
}

#R{
  margin-left: 38%;
  margin-bottom: 15px;
}

#R:hover{
  background-color: rgba(233,148,151,1);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
}


h2{
  text-align: center;
font-family: Arial Black;
font-weight: bold;
margin-top: 5%;
font-size: 35px;
color: #fff;
text-shadow: 5px 3px 10px rgba(248, 144, 24, 0.744);
}

.form-group{
  margin-bottom: 15px;
  color: rgb(247, 139, 62);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
  text-align: center;
}
label{
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: rgb(252, 176, 122);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
}

input{
  border:rgb(249, 199, 138);
  border-bottom: 1px solid rgb(247, 167, 109);
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  color: rgb(247, 139, 62);
  text-shadow: 3px 3px 10px rgba(247, 200, 134, 0.929);
  transition: all .3s ease;
  height: 20px;
}

#consulta{
 height: 60px;
}
.boton{
  border-radius: 20px;
  border: none;
  height: 40px;
  font-size: 20px;
  font-weight: 100;
  padding: 8px;
  width: 100px;

}



@media only screen and (min-width: 320px) and (max-width:768px) {

  .fondo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 10%;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30%;
  }

  .botonR{
    margin-left: 30%;
  }
  .title{
    font-size: 20px;
    line-height: 20px;
  }
  .cuadradoLog{
    width: 100%;
    height: 100%;
    margin-top: 30%;
    padding: 5%;
  }
  h2{
    font-size: 30px;
  }

}
